<!DOCTYPE html>
<html>
<head>
   <title>Try Bootstrap Online</title>
   <meta charset="utf-8"/>
   <meta name="description" content="跨境电商ERP，外贸电商ERP，外贸管理软件"/>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
   <link href="bootstrap-3/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="bootstrap-select.css">
   <link rel="stylesheet" type="text/css" href="css/bootstrap-table.css">
   <link rel="stylesheet" type="text/css" href="css/index.css">
   <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
   <style type="text/css">
	.active{
		background:blue;
	}
   </style>
	<script src="jq1.9/jquery.js"></script>
	<script src="layer.js"></script>
	<script src="laypage.js"></script>
	<script src="bootstrap-3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bootstrap-select.js"></script>
	

</head>

<body ng-app="app">

<ul id="myTab" class="nav nav-tabs">
   <li class="active">
   	<a href="#home" data-toggle="tab">Tutorial Point Home</a>
   </li>
   <li><a href="#ios" data-toggle="tab">iOS</a></li>
   <li class="dropdown">
      <a href="#" id="myTabDrop1" class="dropdown-toggle"data-toggle="dropdown">Java <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
         <li>
         	<a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a>
         </li>
         <li>
         	<a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a>
         </li>
      </ul>
   </li>
</ul>
<div id="myTabContent" class="tab-content">
   <div class="tab-pane fade in active" id="home">
      <p>Tutorials Point is a place for beginners in all technical areas. 
         This website covers most of the latest technoligies and explains 
         each of the technology with simple examples. You also have a 
         <b>tryit</b> editor, wherein you can edit your code and 
         try out different possibilities of the examples.</p>
   </div>
   <div class="tab-pane fade" id="ios">
      <p>iOS is a mobile operating system developed and distributed by Apple 
         Inc. Originally released in 2007 for the iPhone, iPod Touch, and 
         Apple TV. iOS is derived from OS X, with which it shares the 
         Darwin foundation. iOS is Apple's mobile version of the 
         OS X operating system used on Apple computers.</p>
   </div>
   <div class="tab-pane fade" id="jmeter">
      <p>jMeter is an Open Source testing software. It is 100% pure 
      Java application for load and performance testing.</p>
   </div>
   <div class="tab-pane fade" id="ejb">
      <p>Enterprise Java Beans (EJB) is a development architecture 
         for building highly scalable and robust enterprise level    
         applications to be deployed on J2EE compliant 
         Application Server such as JBOSS, Web Logic etc.
      </p>
   </div>
</div>
<div ng-controller="myContral">
	<input type="text" ng-model="name"></input>
	{{name}}
	<span ng-class="{'active':showname}" ng-if="showname">123</span>
	<button type="button" class="btn btn-primary" ng-click="change()">原始按钮</button>
	<input ng-model="data.name"></input>
	<span>{{data.name}}</span>
	<div ng-controller="childCtral">
		<input ng-model="data.name"></input>
		{{data.name}}
	</div>

	<div ng-controller="childCtra2">
		<input ng-model="data.name" ng-change="change()"></input>
		{{data.name}}
	</div>

	<div ng-controller="childCtra3">
		<input ng-model="name"></input>
		{{name}}
		<p ng-bind-html="template"></p>
	</div>

	<div ng-controller="childCtra4">
		<input ng-model="name"></input>
		{{name}}
	</div>
</div>
<div ng-controller="content">
	{{name}}
	<div class="table-responsive">
		<table class="table table-bordered">
			<caption>响应式表格布局</caption>
			<thead>
				<tr>
					<th>产品</th>
					<th>付款日期</th>
					<th>状态</th>
					<th>产品</th>
					<th>付款日期</th>
					<th>状态</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td ng-bind="user.name | uppercase"></td>
					<td ng-bind="user.country | myFilter"></td>
					<td>待发货</td>
					<td>产品1</td>
					<td>23/11/2013</td>
					<td>待发货</td>
				</tr>
			</tbody>
	</table>
</div>
<div ng-controller="directive">
	<my-directive></my-directive>
	<p my-directive></p>
	<p class="my-directive"></p>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="user in users" ng-bind="user.user + user.id"></li>
	</ul>
</div> 


	
</div>
<label class="ui-switch">
	      <input type="checkbox" checked="">
</label>

<label><input class="mui-switch" type="checkbox"> 默认未选中</label>
<label><input class="mui-switch" type="checkbox" checked> 默认选中</label>
<label><input class="mui-switch mui-switch-animbg" type="checkbox"> 默认未选中,简单的背景过渡效果,加mui-switch-animbg类即可</label>
<label><input class="mui-switch mui-switch-animbg" type="checkbox" checked> 默认选中</label>
<label><input class="mui-switch mui-switch-anim" type="checkbox"> 默认未选中，过渡效果，加 mui-switch-anim
类即可</label>
<label><input class="mui-switch mui-switch-anim" type="checkbox" checked> 默认选中</label>

<i class="icon-camera-retro"></i> icon-camera-retro
<i class="fa fa-check-square-o"></i>
<i class="fa fa-square-o" aria-hidden="true"></i>
<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>

<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>

<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>

<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>

<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
<nav>
	<ul>
		<li ng-click="tap=1">1</li>
		<li ng-click="tap=2">2</li>
		<li ng-click="tap=3">3</li>
	</ul>
</nav>
<div ng-show="tap==1">1</div>
<div ng-show="tap==2">2</div>
<div ng-show="tap==3">3</div>


<div id="main">
	<iframe scrolling="yes" frameborder="0" src="aaa.html"></iframe>
</div>

<label for="id_select"></label>
<select id="id_select" class="selectpicker bla bla bli" multiple data-live-search="false">
    <option>cow</option>
    <option>bull</option>
    <option>ASD</option>
    <option selected>Bla</option>
    <option>Ble</option>
    </optgroup>
</select>


<div class="container-fluid">
  <div class="row">
  <div class="col-md-2  col-xs-6 col-sm-4 .col-lg-3">.col-md-1</div>
  <div class="col-md-2  col-xs-6 col-sm-4 .col-lg-3">.col-md-1</div>
  <div class="col-md-2  col-xs-6 col-sm-4 .col-lg-3">.col-md-1</div>
  <div class="col-md-2  col-xs-6 col-sm-4 .col-lg-3">.col-md-1</div>
  <div class="col-md-2  col-xs-6 col-sm-4 .col-lg-3">.col-md-1</div>
  <div class="col-md-2  col-xs-6 col-sm-4 .col-lg-3">.col-md-1</div>
  <div class="col-md-2  col-xs-6 col-sm-4 .col-lg-3">.col-md-1</div>
  <div class="col-md-2  col-xs-6 col-sm-4 .col-lg-3">.col-md-1</div>
  <div class="col-md-2  col-xs-6 col-sm-4 .col-lg-3">.col-md-1</div>
  <div class="col-md-2  col-xs-6 col-sm-4 .col-lg-3">.col-md-1</div>
  <div class="col-md-2  col-xs-6 col-sm-4 .col-lg-3">.col-md-1</div>
  <div class="col-md-2  col-xs-6 col-sm-4 .col-lg-3">.col-md-1</div>
</div>
</div>
<div ng-controller="callback">
	<ul class="list-group">
		<li class="list-group-item" ng-click="next(1,'select-first')">树的第一级1</li>
		<li class="list-group-item" ng-click="next(2,'select-first')">树的第一级2</li>
		<li class="list-group-item" ng-click="next(3,'select-first')">树的第一级3</li>
	</ul>
	<ul class="list-group">
		<li  ng-show="flag" class="list-group-item" ng-repeat="key in data1" ng-bind="key.user + '树的第2级' + $index " ng-click="next(key.id,'select-two')"><span ng-bind="$index"></span></li>
	</ul>
	<ul class="list-group">
		<li  ng-show="flag1" class="list-group-item" ng-repeat="key in data2" ng-bind="key.user" ng-click="next(key.id,'select-three')"></li>
	</ul>
	<ul class="list-group">
		<li  ng-show="flag2" class="list-group-item" ng-repeat="key in data3" ng-bind="key.user" ng-click="next(key.id,'select-fou')">树的第4级 <span ng-bind="$index"></span></li>
	</ul>
</div>

<div ng-controller="myForm">
	<div class="panel panel-default">
	    <div class="panel-heading">
	        表单验证示例
	    </div>
	    <div class="panel-body">
	        <form class="form-horizontal" name="myForm">
				<div class="form-group">
				<label class="col-xs-2 control-label col-xs-offset-2">name</label>
					 <div class="formControls cl col-xs-3">
	                        <input ng-model="user.name" sucmsg=" " type="text" class="form-control" maxlength="11" datatype="phone" nullmsg=" " errormsg=" ">
	                 </div>
	                 <div class="msg-tip" title="请正确填写"> </div>	
				</div>
                

	            <div class="form-group" ng-class="{'has-error': myForm.myName.$touched && myForm.myName.$invalid}">
	                <label class="col-xs-2 control-label">name</label>
	                <div class="col-xs-6">
	                    <input type="text" class="form-control" name="myName" ng-model="formData.username" placeholder="2-10个中英文字符，aaa会重名，必填">
	                </div>
	                <div class="col-xs-4 form-control-static text-danger" ng-messages="123"">
	                </div>
	            </div>

	            <div class="form-group" ng-class="{'has-error': myForm.myName.$touched && myForm.myName.$invalid}">
	                <label class="col-xs-2 control-label">name</label>
	                <div class="col-xs-6">
	                    <input type="text" class="form-control" name="myName" ng-model="formData.username"
	                           placeholder="2-10个中英文字符，aaa会重名，必填"
	                           name-check minlength="2" maxlength="10" required>
	                </div>
	                <div class="col-xs-4 form-control-static text-danger" ng-messages="myForm.myName.$error"
	                     ng-messages-include="demos/form/error.html" ng-show="myForm.myName.$touched">
	                </div>
	            </div>

	            <div class="form-group">
	                <div class="col-xs-6 col-xs-offset-2">
	                    <button type="submit" class="btn btn-primary"
	                            ng-disabled="myForm.$invalid">
	                        Submit
	                    </button>
	                </div>
	            </div>

	            <div class="form-group">
	                <div class="col-xs-6 col-xs-offset-2">
	                    <button type="button" class="btn btn-primary save" ng-click="valid">
	                        Submit
	                    </button>
	                </div>
	            </div>

	            <div class="form-group">
	                <div class="col-xs-6 col-xs-offset-2">
	                    <button type="button" class="btn btn-primary" ng-click="lay()">
	                        弹出层
	                    </button>
	                </div>
	            </div>
	            <div class="form-group">
	                <div class="col-xs-6 col-xs-offset-2">
	                    <button type="button" class="btn btn-primary" ng-click="lay1()">
	                        公告层
	                    </button>
	                </div>
	            </div>

	        </form>
	    </div>
	</div>	
</div>

<div ng-controller="laypage"> 
	<div id="demo7"></div>
</div>


<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">原始
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="javascript:;">功能</a>
        </li>
        <li>
            <a href="javascript:;">另一个功能</a>
        </li>
        <li>
            <a href="javascript:;">其他</a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="javascript:;">分离的链接</a>
        </li>
    </ul>
</div>

<my-test ng-click="test()"></my-test>

<div class="container item-container" style="overflow:hidden;" ng-controller="btnGroup">  
        <button class="btn">圆角按钮</button>  
        <button class="btn btn-default">默认按钮</button>  
        <button class="btn btn-info">信息按钮</button>  
        <button class="btn btn-warning">警示按钮</button>  
        <button class="btn btn-danger">危险按钮</button>  
        <button class="btn btn-link">链接按钮</button>  
        <button class="btn btn-lg">大的按钮</button>  
        <button class="btn btn-sm">小的按钮</button>  
        <button class="btn btn-xs">超小按钮</button>  
        <button class="btn btn-block">块级按钮</button>  
        <button style="position:fixed;top:200px;right:200px;" ng-click="showLeft()" class="btn btn-success">成功按钮</button>  
        <button class="btn btn-success btn-primary">原始按钮</button>  
        <button class="btn btn-success active">激活按钮</button>  
        <button class="btn btn-success disabled" role="button">禁用按钮</button>

        <h1>隐藏 DIV: <input type="checkbox" ng-model="myCheck"></h1>

		<div class="box" ng-cloak  ng-show="myCheck"></div> 

		<label for="name">默认的复选框和单选按钮的实例</label>
<div class="checkbox">
	<label><input type="checkbox" value="">选项 1</label>
</div>
<div class="checkbox">
	<label><input type="checkbox" value="">选项 2</label>
</div>
<div class="radio">
	<label>
		<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> 选项 1
	</label>
</div>
<div class="radio">
	<label>
		<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">选项 2 - 选择它将会取消选择选项 1
	</label>
</div>
<label for="name">内联的复选框和单选按钮的实例</label>
<div>
	<label class="checkbox-inline">
		<input type="checkbox" id="inlineCheckbox1" value="option1"> 选项 1
	</label>
	<label class="checkbox-inline">
		<input type="checkbox" id="inlineCheckbox2" value="option2"> 选项 2
	</label>
	<label class="checkbox-inline">
		<input type="checkbox" id="inlineCheckbox3" value="option3"> 选项 3
	</label>
	<label class="radio-inline">
		<input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked> 选项 1
	</label>
	<label class="radio-inline">
		<input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="option2"> 选项 2
	</label>
</div>
</div>

 <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
 <div class="modal-dialog">
 <div class="modal-content">
 <div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
  ×
 </button>
 <h4 class="modal-title" id="myModalLabel">添加记录</h4>
 </div>
 <div class="modal-body">
 <form role="form" action="javascript:void(0)">
  <div class="form-group">
  <input type="text" class="form-control" id="name" placeholder="请输入名称">
  </div>
  <div class="form-group">
  <input type="text" class="form-control" id="age" placeholder="请输入年龄">
  </div>
 </form>
 </div>
 <div class="modal-footer">
 <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
 <button type="button" class="btn btn-primary" id="addRecord">提交</button>
 </div>
 </div>
 </div>
 </div>

 <div id="toolbar">
 <div class="btn btn-primary" data-toggle="modal" data-target="#addModal">添加记录</div>
 </div>

<div class="panel-body" style="padding-bottom:0px;">
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group" style="margin-top:15px">
                        <label class="control-label col-sm-1" for="txt_search_departmentname">部门名称</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txt_search_departmentname">
                        </div>
                        <label class="control-label col-sm-1" for="txt_search_statu">状态</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="txt_search_statu">
                        </div>
                        <div class="col-sm-4" style="text-align:left;">
                            <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>       

        <div id="toolbar" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
            </button>
            <button id="btn_edit" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
            </button>
            <button id="btn_delete" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
            </button>
        </div>
        <table id="tb_departments"></table>
</div>
<script type="text/javascript" src="bootstrap-table.js"></script>
<!-- <script src="angular-1.5.8/angular.min.js"></script> -->
<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular.min.js"></script>
<script src="https://cdn.bootcss.com/angular.js/1.4.6/angular-animate.min.js"></script>
<script src="angular-1.5.8/angular-cookies.js"></script>
<!-- <script src="https://cdn.bootcss.com/angular.js/1.5.0-beta.0/angular-sanitize.min.js"></script> -->
<script src="ng-sanitize.js"></script>
<!-- <script src="https://cdn.bootcss.com/angular.js/1.4.6/angular-animate.min.js"></script> -->
<script type="text/javascript" src="Validform_v5.3.2_min.js"></script>
<script>
$(function () {

    //1.初始化Table
    var oTable = new TableInit();
    oTable.Init();

    //2.初始化Button的点击事件
    var oButtonInit = new ButtonInit();
    oButtonInit.Init();

});


var TableInit = function () {
    var oTableInit = new Object();
    //初始化Table
    oTableInit.Init = function () {
        $('#tb_departments').bootstrapTable({
            url: 'data.json',         //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: oTableInit.queryParams,//传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 2,                       //每页的记录行数（*）
            pageList: [5, 10, 50, 100],        //可供选择的每页的行数（*）
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
        });
    };

    //得到查询的参数
    oTableInit.queryParams = function (params) {
        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
            limit: params.limit,   //页面大小
            offset: params.offset,  //页码
            departmentname: $("#txt_search_departmentname").val(),
            statu: $("#txt_search_statu").val()
        };
        return temp;
    };
    return oTableInit;
};


var ButtonInit = function () {
    var oInit = new Object();
    var postdata = {};

    oInit.Init = function () {
        //初始化页面上面的按钮事件
    };

    return oInit;
};	
ButtonInit();
   $(function () {
      $('#myTab li:eq(1) a').tab('show');
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      	var activeTab = $(e.target).text(); 
   	  });
   	  $("#home").on("click",function(){
   	  	$("#main").find("iframe").attr("src","aaa1.html")
   	  })
   	   $('.selectpicker').selectpicker({
        'selectedText': 'cat'
 	  });   
   });
</script>
<script type="text/javascript" src="index.js"></script>
</body>
</html>